.banner{
    margin-top: 50px;   
    background-color: #FFF1E5 !important;
}

.gif-banner{
    width: auto;
    height: auto;
    margin: 50px;
}

@media only screen and (max-width: 650px) {
    .gif-banner{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
}